* {
  box-sizing: border-box;
  font-family: Arial;
}

.main {
  position: relative;
  width: 500px;
  height: 700px;
  margin: 50px auto;
  overflow: hidden;
  border: 1px solid black;
}

.tetris {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 900px;
  overflow: hidden;
  background-color: white;
}

.excel {
  width: 50px;
  height: 50px;
  border: 1px solid silver;
}

.figure,
.set {
  background-color: blumine;
}
